@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-image: none;
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.cold {
  background-image: linear-gradient(180deg, #52307c,#bca0dc);
}

.fair {
  background-image: linear-gradient(180deg, #094c72,#bcd9ea);
}

.warm {
  background-image: linear-gradient(180deg, #ff6600,#ffaf7a);
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 100px;
  top: 125px;
}

.temp{
  font-size: 30px;
  margin-top: 35px;
}

.stat{
  font-size: 20px;
}

.time {
  font-size: 18px;
  margin-top: 2px;
}

.loc{
  font-size: 18px;
}


